@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=====================================
            ALL COMMON STYLE
======================================*/

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}


/*===== VARIABLES CSS =====*/

 :root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    --main-color: #6b082e;
    --main-grident: linear-gradient(#2a0c1b, #661e45);
    --heading-color: #48455a;
    --main-color-alt: #8b254d;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #A6A6A6;
    --header-color: #ffffff;
    --container-color: #FFFFFF;
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes ==========*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
     :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span,
label {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


/*========== BASE ==========*/

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    color: #1d1c1c;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
}

img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

button:focus {
    outline: none;
    font-size: 11px;
}

.bg-white {
    background-color: #fff !important;
}


/* =====================================================CUSTOME BUTTON========================= */


/* =====================================action button======================== */

a.action-btn {
    background: #fff;
    padding: 3px;
    margin: 2px;
    text-align: center;
    border-radius: 2px;
}

.c-edit {
    color: #deb901;
}

.c-edit:hover {
    color: #dcbf2e;
}

.c-delete {
    color: #f00;
}

.c-delete:hover {
    color: rgb(167, 34, 34);
}

.c-approved {
    color: #058c0f;
}

.c-approved:hover {
    color: #11991a;
}

.multi-button {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* =====================================action button======================== */


/* ================================================NOTUFY BATCH===================================== */

.notify {
    position: absolute;
    background: #cc1212;
    font-size: 10px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: #fff;
    border-radius: 50%;
    margin-top: -15px;
}

.notify-grin {
    position: absolute;
    background: #086594;
    font-size: 10px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: #fff;
    border-radius: 50%;
    margin-top: -15px;
}


/* ========================================================top button================ */

.top-icon {
    border: #862358 3px solid;
    margin: 0px 7px;
    background: #5c1b3e;
    border-radius: 4px;
}

.top-icon:hover {
    border: 3px solid #1f1e1e;
}


/* ==============================================input======================== */

.form-control:focus {
    box-shadow: 0 0 5px 0rem rgb(90 90 90 / 38%);
    /* border: var(--title-color); */
}


/* ============================canva================================ */

canvas#chart {
    display: block;
    width: 100%;
    height: 250px;
}


/* ===============================================button====================== */

.dropdown-button {
    background: #ddd;
    padding: 0px 10px;
    border-radius: 3px;
}

.btn_gray {
    background: linear-gradient(#f8f8f8, #e3e3e3);
    font-size: 11px;
    color: #444;
    padding: 0 10px;
    border: #c6c7c7 1px solid;
    text-shadow: 1px 1px 0px #fff;
    margin-right: 5px;
}

.btn_gray:hover {
    background: linear-gradient(#e3e3e3, #f8f8f8);
    -moz-box-shadow: 0 0 3px #aaa;
    -webkit-box-shadow: 0 0 3px#aaa;
    box-shadow: 0 0 3px #aaa;
}

.btn_blue {
    background: linear-gradient(#30a9d2, #0d63a3);
    font-size: 11px;
    padding: 0 10px;
    color: #fff;
    border: #093868 1px solid;
    text-shadow: 1px 1px 0px #333;
    margin-right: 5px;
}

.btn_blue:hover {
    background: linear-gradient(#30a9d2, #077aa0);
    -moz-box-shadow: 0 0 3px #aaa;
    -webkit-box-shadow: 0 0 3px#aaa;
    box-shadow: 0 0 3px #aaa;
}

.btn_orange {
    background: linear-gradient(#e79234, #b92f08);
    font-size: 11px;
    padding: 0 10px;
    color: #fff;
    border: #9f2b0c 1px solid;
    text-shadow: 1px 1px 0px #333;
    margin-right: 5px;
}

.btn_orange:hover {
    background: linear-gradient(#e79234, #b15e00);
    -moz-box-shadow: 0 0 3px #aaa;
    -webkit-box-shadow: 0 0 3px#aaa;
    box-shadow: 0 0 3px #aaa;
}


/* =============================================bootstrap model================= */

.modal-header {
    padding: 8px 12px;
    background: -webkit-linear-gradient(top, #19a6d3 0%, #0853a1 50%, #064492 51%, #02286e 100%);
    color: #fff;
}

button.btn-close:focus {
    box-shadow: none;
}

.modal-body {
    background: #ddd;
}

.modal-footer {
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn span {
    background: #ddd;
    padding: 2px 5px;
    border-radius: 2px;
    color: #92392a;
}


/* =======================================form text editor================ */

.cleditorToolbar {
    border-bottom: 1px solid #ddd;
}