/* =============================pos nav====================== */

.body-wraper {
    background: #fff;
}

nav.pos-navigation {
    background: var(--main-grident);
    padding: 0 10px;
    height: 71px;
    display: flex;
    align-items: center;
}

.nav-left-sec {
    display: flex;
    height: 100%;
    align-items: center;
}

.pos-logo img {
    width: 129px;
}

.logo-sec {
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 2px solid #fff;
}

.address {
    height: 100%;
    padding: 10px;
    line-height: 2px;
    border-right: 2px solid #fff;
    color: #fff;
}

p.store-name {
    font-size: 1em;
}

small.login-user-name {
    font-size: 9px;
}

span.input-group-text {
    border-radius: 0;
}

.input-buttob-sec {
    padding: 0 10px;
}

span.input-group-text.valus {
    font-size: 11px;
}

.input-value-sec {
    padding-left: 0;
}

.pos-btn {
    border: 2px solid #fff;
    padding: 4px 6px;
    font-size: 15px;
    color: #fff;
    border-radius: 1px;
}

.pos-btn:hover {
    color: #f9f9f9;
}

.btn-sec {
    margin-top: 8px;
}

.btn-section {
    text-align: right;
}

.date {
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #fff;
    padding: 0 10px;
    display: inline-block;
    color: #fff;
}

.cat-button {
    width: 100%;
    background: linear-gradient(#00aebd, #273245);
    display: inline-block;
    margin-bottom: 1px;
    text-align: center;
    color: #fff;
    font-size: 11px;
}

.cat-button:hover {
    background: linear-gradient(#273245, #00aebd);
    color: #fff;
}

.category-sec {
    margin-top: 3px;
}

.pos-content {
    /* padding-top: 5px; */
}


/* ===================product design================= */

.product-name a {
    font-size: 11px;
    line-height: 10px;
    margin: 4px 0;
    color: #000;
    display: block;
    text-align: center;
}

.product {
    background: #f7f7f7;
    padding: 9px 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.tbl-head ul {
    display: flex;
}

.tbl-head {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    /* background: #ddd; */
    border-bottom: 2px solid #000;
}

a.head-tbl-icon {
    padding: 5px 3px;
    font-size: 20px;
    margin: 0 6px;
    color: #4a4a4a;
    border: 1px solid #eaaf07;
    border-radius: 2px;
}

.border-none {
    border: none !important;
}

.qty-input {
    width: 65%;
    margin: auto;
    text-align: center;
}

.product-name {
    color: var(--title-color);
    line-height: 10px;
}

.product-name:hover {
    color: var(--main-color);
}

.set-height {
    height: 70.6vh;
    overflow-x: scroll;
}

.set-height::-webkit-scrollbar {
    width: 6px;
}

.product-img img {
    width: 50px;
}

.product-img {
    text-align: center;
}

.product-area {
    height: 72.6vh;
    overflow: scroll;
    overflow-x: hidden;
}

.product-area::-webkit-scrollbar {
    display: none;
    width: 0px;
}

.product-ctn {
    padding: 9px;
    padding-top: 0;
}


/* ============================================= */

.check-out-woaper {
    padding: 0 23PX;
}

.bg-orange {
    background: linear-gradient(orange, #591237);
    width: 100%;
    display: block;
    border: 1px solid #aba3a3;
    /* box-shadow: inset 0 0 5px #ddd; */
}

.btn-bg {
    border: 1px solid #8a8888;
    border-radius: 5px;
    background: linear-gradient(#dedede, #444444);
    box-shadow: inset 0 0 5px#ddd;
    padding: 4px;
}

.function-card {
    text-align: center;
    line-height: 11px;
    padding: 17px 0px;
    border-radius: 3px;
    color: #fff;
    transition: .3s;
}

.function-card small {
    font-size: 12px;
}

.bg-gren {
    width: 100%;
    display: block;
    background: linear-gradient(rgb(8, 11, 189), #260e1b);
    border: 1px solid #5d5d5d;
    /* box-shadow: inset 0 0 5px #ddd; */
}

.bg-swit {
    background: rgb(223, 15, 101);
    width: 100%;
    display: block;
    background: linear-gradient(rgb(223, 15, 101), #260e1b);
    border: 1px solid #828282;
    /* box-shadow: inset 0 0 5px #ddd; */
}

.bg-parpal {
    background: var(--main-grident);
    width: 100%;
    display: block;
    /* margin: 4px; */
    border: 1px solid #525252;
    /* box-shadow: inset 0 0 5px #ddd; */
}

.btn-pos {
    text-align: center;
    width: 100%;
    /* margin: 2px; */
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    height: 29px;
}

.check-out-woaper {
    height: 84.7vh;
}

.function-card:hover {
    color: #fff;
}

.pos-footer {
    background: var(--main-grident);
    position: fixed;
    bottom: 5px;
    width: 74.5%;
    height: 41px;
}

.pos-foot-con {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    height: 100%;
}

.resent-tn {
    color: #fff;
    transition: .3s;
    background: #2e30a0;
    padding: 0 7px;
    border-radius: 4px;
    margin-right: 20px;
    font-size: 11px;
}

.category-head {
    padding-bottom: 6px;
}

.cat-bg-1 {
    border-radius: 2px !important;
}

.cat-bg-2.bg {
    border-radius: 2px;
}

p.address-name {
    font-size: 11px;
}

.date p span {
    color: #92d60c;
}

.input-group-text {
    padding: 5px 10px;
}


/* =================================subtotal show=============== */

.sub-total-input {
    background: linear-gradient(#00aebd, #273245);
    /* padding-top: 5px; */
    padding: 4px 20px 0;
}

.sub_total {
    bottom: 52px;
    width: 42%;
    overflow: hidden;
    position: fixed;
}

a.resent-tn:hover {
    color: #fff;
    background: #2e30a0d6;
}

.btn-pos:hover {
    color: #fff;
}

.left-cat-pos {
    padding: 3px;
    border-radius: 3px;
    background: linear-gradient(#dedede, #444444);
    border: 1px solid #6f5a5a !important;
}

.all-cat::-webkit-scrollbar {
    width: 0px;
}

.all-cat::-webkit-scrollbar-track {
    background: rgb(214, 211, 211);
}

.all-cat::-webkit-scrollbar-thumb {
    background: #320e20;
    border-radius: 10px;
}

.all-cat {
    border: 1px solid #000;
    /* padding: 3px; */
    background: #fff;
    height: 78.5vh;
    overflow-y: scroll;
    border-radius: 3px;
}

.show-product {
    background: linear-gradient(#dedede, #444444);
    padding: 3px;
    border: 1px solid #3f1229;
    border-radius: 2px;
}

.product-inner {
    background: #fff;
    border: 1px solid #46142e;
    padding: 2px;
    border-radius: 2px;
}

.cart-table {
    border: 1px solid #3d1128;
    padding: 3px;
    background: linear-gradient(#dedede, #444444);
    border-radius: 3px;
}

.cart-table-inner-pos {
    background: #fff;
    border: 1px solid #43132d;
    border-radius: 3px;
}

.pos-right-inner {
    border: 1px solid #3d1128;
    padding: 3px;
    background: linear-gradient(#dedede, #444444);
    border-radius: 3px;
}

.check-out-woaper {
    background: linear-gradient(#00aebd, #273245);
    border: 1px solid #43132d;
    border-radius: 3px;
}

.status {
    color: #2cd618;
}

.sub-btn-sec {
    margin-top: 3px;
}


/* ====================full body border======================================= */

.pos-body {
    margin: 2px;
    border: 1px solid #3b1127;
    padding: 3px;
    border-radius: 2px;
    background: linear-gradient(#dedede, #444444);
    height: 100vh;
    position: fixed;
}

.head-pos {
    padding-bottom: 3px;
    border-bottom: 1px solid #3a1026;
}

.main-wraper {
    border: 1px solid #340f22;
    border-radius: 2px;
    height: 100%;
}

@media (min-width: 1600px) and (max-width: 2560px) {
    .check-out-woaper {
        height: 89.7vh;
    }
    .set-height {
        height: 82.4vh;
        overflow-x: scroll;
    }
    .product-area {
        height: 83.5vh;
        overflow: scroll;
        overflow-x: hidden;
    }
    .all-cat {
        border: 1px solid #000;
        background: #fff;
        height: 87vh;
        overflow-y: scroll;
        border-radius: 3px;
    }
    .function-card {
        padding: 33% 0px;
    }
    .bg-orange {
        width: 100%;
    }
    .bg-gren {
        width: 100%;
    }
    .bg-swit {
        width: 100%;
    }
    .bg-parpal {
        width: 100%;
    }
    .btn-pos {
        text-align: center;
        width: 100%;
        /* margin: 2px; */
        border-radius: 3px;
        color: #fff;
        font-size: 11px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pos-footer {
        width: 74.7%;
        bottom: 0;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .product-area {
        height: 76vh;
        overflow: scroll;
        overflow-x: hidden;
    }
    .set-height {
        height: 74vh;
        overflow-x: scroll;
    }
    .sub_total {
        bottom: 53px;
    }
    .all-cat {
        height: 81.2vh;
    }
    .check-out-woaper {
        height: 85.7vh;
    }
}

@media (max-width: 990px) {
    .function-card {
        text-align: center;
        line-height: 11px;
        padding: 33% 0;
        border-radius: 3px;
        color: #fff;
        transition: .3s;
    }
    .bg-orange {
        width: 100%;
    }
    .bg-gren {
        width: 100%;
    }
    .bg-swit {
        width: 100%;
    }
    .btn-pos {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92px;
    }
    .bg-parpal {
        width: 100%;
    }
    .address {
        display: none;
    }
    .pos-body {
        position: initial;
        height: auto;
    }
    .product-area {
        height: 74.9vh;
    }
    nav.pos-navigation {
        background: var(--main-grident);
        padding: 7px 10px;
        height: 100%;
        display: inline-block;
        align-items: center;
        width: 100%;
    }
    .btn-section {
        text-align: right;
        display: none;
    }
    .check-out-woaper {
        height: auto;
        margin-bottom: 30px;
    }
    .input-value-sec {
        padding-left: 0;
        display: none;
    }
    .pos-logo {
        width: 100%;
        text-align: center;
        padding: 7px 0px;
    }
    .logo-sec {
        border-right: none;
    }
    .sub-total-input {
        height: 72px;
    }
    .pos-footer {
        background: #1790b5;
        position: fixed;
        bottom: 0;
        width: 97%;
        height: 41px;
    }
    .sub_total {
        width: 100%;
        overflow: hidden;
        position: inherit;
    }
}

@media (max-width: 500px) {
    .btn-pos {
        height: 40px;
    }
    .product-img img {
        width: 38px;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .set-height {
        height: 74vh;
        overflow-x: scroll;
    }
    .check-out-woaper {
        height: 86vh;
    }
    .product-area {
        height: 76vh;
    }
    .all-cat {
        height: 81.5vh;
    }
    .input-sec {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    .pos-btn {
        padding: 0px 6px;
    }
    .function-card {
        padding: 12px 0px;
    }
    .btn-pos {
        text-align: center;
        width: 100%;
        border-radius: 3px;
        color: #fff;
        font-size: 11px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .set-height {
        height: 70.6vh;
        overflow-x: scroll;
    }
    .check-out-woaper {
        height: 85vh;
    }
    .product-area {
        height: 72.6vh;
    }
    .all-cat {
        height: 78.5vh;
    }
}

@media (max-width: 350px) {
    .btn-pos {
        height: 23px;
    }
    .function-card {
        padding: 20% 0;
    }
}