<template>
 <v-app>
  
    <v-card>
      <v-btn color="error" fab small dark style="float:right; margin:5px;" data-toggle="modal" data-target="#exampleModal"><v-icon>mdi-plus</v-icon></v-btn>
        <v-card-title>
        Department Lists
        <v-spacer></v-spacer>
        <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
        ></v-text-field>
        </v-card-title>
        <v-data-table
        :headers="headers"
        :items="departments"
        :search="search"
        dense >
        <template v-slot:item="row">
            <tr>
                <td> {{ row.item.id }}</td>
                <td> {{ row.item.department_name }}</td>
                <td> <v-btn color="primary" fab x-small dark data-toggle="modal" data-target="#editModal" @click="editDepartment(row.item.id)">
                       <v-icon>mdi-pencil</v-icon>
                     </v-btn>
                     <v-btn color="error" fab x-small dark @click="deleteDepartment(row.item.id)">
                       <v-icon>mdi-delete</v-icon>
                     </v-btn>
                </td>
            </tr>
        </template>
      </v-data-table>
    </v-card>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content modal-lg">
             <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="dismiss">
                <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <form @submit.prevent="store" id="store_department">
              <div class="modal-body">
                <div class="form-group">
                    <strong>Department Name</strong><br/><br>
                    <input type="text" class="form-control" id="department" placeholder="Department Name" name="department_name" v-model="department.department_name" required>
                    <small id="emailHelp" class="form-text text-danger"></small>
                </div>
               </div>
               <div class="modal-footer">
                   <button type="submit" class="btn btn-sm btn-danger"> <img src="asset/images/ajax-loader/ajax-loader(10).gif" class="d-none loader"> <span class="submit"> Submit </span></button>
               </div>
            </form>
          </div>
        </div>
    </div>

     <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content modal-lg">
             <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="dismiss">
                <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <form @submit.prevent="update" id="update_department">
              <div class="modal-body">
                <div class="form-group">
                    <strong>Department Name</strong><br/><br>
                    <input type="text" class="form-control" id="department" name="department_name" v-model="editform.department_name" required>
                    <input type="hidden" class="form-control"  name="id" v-model="editform.id" required>
                </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-sm btn-danger"> <img src="asset/images/ajax-loader/ajax-loader(10).gif" class="d-none loader"> <span class="submit"> Submit </span></button>
              </div>
            </form>
          </div>
        </div>
    </div>

  </v-app>
  
</template>

<script>
  export default {
    data () {
      return {
        search: '',
        headers: [
          { text: 'Department ID', align: 'start', sortable: true, value: 'id'},
          { text: 'Department Name', value: 'department_name' },
          { text: 'Action', value: '' },
        ],
        errors:{},
        departments: [],
        department:{},
        editform:{
          department_name:'',
          id:'',
        }
        
      }
    },
   
   mounted() {
       this.index();
    },
    methods:{
      //getting all department from database
      index(){
        this.axios
            .get('http://localhost:8000/api/department/lists/')
            .then(response => {
                this.departments = response.data;  
            });
      },
    //form submit for storing departmnet
      store(){
            $('.loader').removeClass("d-none");
            $('.submit').addClass("d-none");
             this.axios
                      .post('/api/department/store/',this.department)
                      .then(response=>{   
                    
                        this.index();  
                        $('#store_department')[0].reset();
                        $('.loader').addClass("d-none");
                        $('.submit').removeClass("d-none");
                        Swal.fire({
                          position: 'top-end',
                          icon: 'success',
                          title: 'Department Added',
                          showConfirmButton: false,
                          timer: 1500
                        })
                        
                      }).catch(error=>{
                          $('.loader').addClass("d-none");
                          $('.submit').removeClass("d-none");
                      })
            
      },
      //edit modal show with datata
      async editDepartment(id){
          axios.get('http://localhost:8000/api/department/edit/'+id)
          .then(({data}) => (this.editform = data)).catch(()=>{})
      },
      //form submit for updating departmnet
      update(){
            $('.loader').removeClass("d-none");
            $('.submit').addClass("d-none");
             this.axios
                .post('/api/department/update/',this.editform)
                .then(response=>{   
                  this.index();  
                  $('#update_department')[0].reset();
                  $('.loader').addClass("d-none");
                  $('.submit').removeClass("d-none");
                  Swal.fire({
                          position: 'top-end',
                          icon: 'success',
                          title: 'Department Updated',
                          showConfirmButton: false,
                          timer: 1500
                        })
                }).catch(error=>{
                    $('.loader').addClass("d-none");
                    $('.submit').removeClass("d-none");
                })
            
      },

      //delete single department from table
       async deleteDepartment(id) {
           Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
            if (result.value) {
              axios.delete('/api/department/destroy/'+id)
              .then(()=>{
                 this.index();
              })
              .catch(()=>{
                // this.$router.push({name: 'department'})
                alert('something went worng');
              })
              Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
              )
            }
           })
        }


    },

    
    

  }
</script>