<template>
    <div>
        <div class="body-woaper">
            <div class="container-fluid"><br/><br/><br/><br/>
                    <div class="container">
                            <div class="row">
                                <div class="form_element">
                                    <div class="section-header">
                                        <span class="fas fa-table"></span>
                                        <p>BOOTSTRAP RESPONSIVE TABLE 1</p>
                                    </div>
                                    <div class="element-body">
                                        <div class="form_heading">
                                            <h3>
                                                Table Header
                                                    <span style="float:right;">
                                                <input type="text" class="form-control" v-model="searchTerm" placeholder="search" />
                                            </span>
                                            </h3>
                                            <p>
                                                Cras erat diam, consequat quis tincidunt nec, eleifend a turpis. Aliquam ultrices feugiat metus, ut imperdiet erat mollis at. Curabitur mattis risus sagittis nibh lobortis vel.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="widget_content">
                                        <div class="table-responsive">
                                            <table class="display data_tbl data__table">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Department Id
                                                        </th>
                                                        <th>
                                                            Department Name
                                                        </th>
                                                        <th>
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="gradeX" v-for="department in departments" :key="department.id">
                                                        <td>
                                                            1
                                                        </td>
                                                        <td> {{ department.department_name }} </td> 
                                                        <td class="center">
                                                            <button class="btn btn-sm btn-info">i</button>
                                                            <button class="btn btn-sm btn-danger">x</button>
                                                        </td>
                                                    </tr>   
                                                </tbody>
                                                <tfoot>
                                                        <tr>
                                                        <th>
                                                            Department Id
                                                        </th>
                                                        <th>
                                                            Department Name
                                                        </th>
                                                        <th>
                                                            Action
                                                        </th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
               </div>
        </div>
    </div>
</template>
<script>
  export default {
    data () {
      return {
        search: '',
        // headers: [
        //   { text: 'Department ID', align: 'start', sortable: true, value: 'id'},
        //   { text: 'Department Name', value: 'department_name' },
        //   { text: 'Action', value: '' },
        // ],
        errors:{},
        departments: [],
        searchTerm:'',
        department:{},
        editform:{
          department_name:'',
          id:'',
        },
        page: 1,
        filter:  '',
        perPage: 12,
        
      }
    },

   mounted() {
       this.index();
    },
    methods:{
      //getting all department from database
      index(){
        this.axios
            .get('http://localhost:8000/api/department/lists/')
            .then(response => {
                this.departments = response.data;  
            }).bind(this);
      },
    //form submit for storing departmnet
      store(){
            $('.loader').removeClass("d-none");
            $('.submit').addClass("d-none");
             this.axios
                      .post('/api/department/store/',this.department)
                      .then(response=>{   
                    
                        this.index();  
                        $('#store_department')[0].reset();
                        $('.loader').addClass("d-none");
                        $('.submit').removeClass("d-none");
                        Swal.fire({
                          position: 'top-end',
                          icon: 'success',
                          title: 'Department Added',
                          showConfirmButton: false,
                          timer: 1500
                        })
                        
                      }).catch(error=>{
                          $('.loader').addClass("d-none");
                          $('.submit').removeClass("d-none");
                      })
            
      },
      //edit modal show with datata
      async editDepartment(id){
          axios.get('http://localhost:8000/api/department/edit/'+id)
          .then(({data}) => (this.editform = data)).catch(()=>{})
      },
      //form submit for updating departmnet
      update(){
            $('.loader').removeClass("d-none");
            $('.submit').addClass("d-none");
             this.axios
                .post('/api/department/update/',this.editform)
                .then(response=>{   
                  this.index();  
                  $('#update_department')[0].reset();
                  $('.loader').addClass("d-none");
                  $('.submit').removeClass("d-none");
                  Swal.fire({
                          position: 'top-end',
                          icon: 'success',
                          title: 'Department Updated',
                          showConfirmButton: false,
                          timer: 1500
                        })
                }).catch(error=>{
                    $('.loader').addClass("d-none");
                    $('.submit').removeClass("d-none");
                })
            
      },

      //delete single department from table
       async deleteDepartment(id) {
           Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
            if (result.value) {
              axios.delete('/api/department/destroy/'+id)
              .then(()=>{
                 this.index();
              })
              .catch(()=>{
                // this.$router.push({name: 'department'})
                alert('something went worng');
              })
              Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
              )
            }
           })
        }


    },

    
    

  }
</script>
<!-- <script>
    import datatable from "./datatable"
    export default {
        data(){
            return{
                departments:[]
            }
        },
        
        components:{
            datatable    
        }
    }
</script> -->
