<template>
    <div>
        <div class="body-woaper">
               <div class="container-fluid">
                   <div class="row">
                       <div class=" border-class">
                           <div class="main__content">
                               <div class="sec-name">
                                   <div class="name-head">
                                       <span class="fas fa-desktop"></span>
                                       <h5>Dashboard</h5>
                                   </div>
                                   <div class="search-input">
                                       <form action="">
                                           <div class="input-group">
                                               <div class="form-outline col-sm-10">
                                                   <input id="search-input" type="search" placeholder="Search" class=" rounded-start form-control search-bar" />
                                               </div>
                                               <button id="search-button" type="button" class="search-button col-sm-2  rounded-end">
                                                       <i class="fas fa-search"></i>
                                                   </button>
                                           </div>
                                       </form>
                                   </div>
                               </div>
                           </div><br/>
                           <div class="main-button-sec">
                               <div class="container-fluid">
                                   <div class="row">
                                       <div class="col-lg-1 col-md-2 col-sm-2 col-4 p-1">
                                           <div class="switch_bar">
                                               <a href="" class="bar-link">
                                                   <span><img src="asset/asset/img/chart.png" alt=""></span>
                                                   <p>
                                                       Analytics
                                                   </p>
                                               </a>
                                           </div>
                                       </div>
                                       <div class="col-lg-1 col-md-2 col-sm-2 col-4 p-1">
                                           <div class="switch_bar">
                                               <a href="" class="bar-link">
                                                   <span><img src="asset/asset/img/note.png" alt=""></span>

                                                   <p>
                                                       Notes
                                                   </p>
                                               </a>
                                           </div>
                                       </div>
                                       <div class="col-lg-1 col-md-2 col-sm-2 col-4 p-1">
                                           <div class="switch_bar">
                                               <span class="notify-grin">30</span>
                                               <a href="" class="bar-link">
                                                   <span><img src="asset/asset/img/user.png" alt=""></span>

                                                   <p>
                                                       User
                                                   </p>
                                               </a>
                                           </div>
                                       </div>
                                       <div class="col-lg-1 col-md-2 col-sm-2 col-4 p-1">
                                           <div class="switch_bar">
                                               <span class="notify">30</span>
                                               <a href="" class="bar-link">
                                                   <span><img src="asset/asset/img/setting.png" alt=""></span>

                                                   <p>
                                                       Setting
                                                   </p>
                                               </a>
                                           </div>
                                       </div>
                                       <div class="col-lg-1 col-md-2 col-sm-2 col-4 p-1">
                                           <div class="switch_bar">
                                               <a href="" class="bar-link">
                                                   <span><img src="asset/asset/img/task.png" alt=""></span>

                                                   <p>
                                                       Task list
                                                   </p>
                                               </a>
                                           </div>
                                       </div>
                                       <div class="col-lg-1 col-md-2 col-sm-2 col-4 p-1">
                                           <div class="switch_bar">
                                               <span class="notify-grin">30</span>
                                               <a href="" class="bar-link"> 
                                                   <span><img src="asset/asset/img/archive.png" alt=""></span>
                                                   <p>
                                                       Archive
                                                   </p>
                                               </a>
                                           </div>
                                       </div>
                                       <div class="col-lg-1 col-md-2 col-sm-2 col-4 p-1">
                                           <div class="switch_bar">
                                               <a href="" class="bar-link">
                                                   <span><img src="asset/asset/img/contact.png" alt=""></span>
                                                   <p>
                                                       Contact
                                                   </p>
                                               </a>
                                           </div>
                                       </div>
                                       <div class="col-lg-1 col-md-2 col-sm-2 col-4 p-1">
                                           <div class="switch_bar">
                                               <span class="notify">30</span>
                                               <a href="" class="bar-link">
                                                   <span><img src="asset/asset/img/exploer.png" alt=""></span>

                                                   <p>
                                                       Explorer
                                                   </p>
                                               </a>
                                           </div>
                                       </div>
                                       <div class="col-lg-1 col-md-2 col-sm-2 col-4 p-1">
                                           <div class="switch_bar">
                                               <a href="" class="bar-link">
                                                   <span><img src="asset/asset/img/folder.png" alt=""></span>

                                                   <p>
                                                       Media
                                                   </p>
                                               </a>
                                           </div>
                                       </div>
                                       <div class="col-lg-1 col-md-2 col-sm-2 col-4 p-1">
                                           <div class="switch_bar">
                                               <a href="" class="bar-link">
                                                   <span><img src="asset/asset/img/event.png" alt=""></span>
                                                   <p>
                                                       Event
                                                   </p>
                                               </a>
                                           </div>
                                       </div>
                                       <div class="col-lg-1 col-md-2 col-sm-2 col-4 p-1">
                                           <div class="switch_bar">
                                               <span class="notify">30</span>
                                               <a href="" class="bar-link">
                                                   <span><img src="asset/asset/img/bulb.png" alt=""></span>
                                                   <p>
                                                       Support
                                                   </p>
                                               </a>
                                           </div>
                                       </div>
                                       <div class="col-lg-1 col-md-2 col-sm-2 col-4 p-1">
                                           <div class="switch_bar">
                                               <a href="" class="bar-link">
                                                   <span><img src="asset/asset/img/bank.png" alt=""></span>
                                                   <p>
                                                       Order List
                                                   </p>
                                               </a>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="chart-section">
                               <div class="row">
                                   <div id="chart">
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
